div.TextBox_wrapper {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  label.TextBox_label {
    margin-bottom: 0.25rem;
    width: max-content;
  }

  input.TextBox {
    min-height: 40px;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
  }
}
